*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-family: "Brandon bld";
}

body {
  padding: 0;
}

@font-face {
  font-family: "Brandon med";
  src: url("https://assets.website-files.com/56579ffcc34a791f576971ce/56eaacb1de3aa8347038a7a8_Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: "Brandon bld";
  src: url("https://assets.website-files.com/56579ffcc34a791f576971ce/56eaacb1de3aa8347038a7a7_Brandon_bld.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@keyframes slide-left {
  from {
    margin-left: -4600px;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes pop {
  50% {
    transform: scale(-1.2);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  background-color: black;
  margin: 0 auto;
  /* This allows navbar to stretch across the screen */
  overflow-x: hidden;
}

.Logo {
  display: block;
  object-fit: fill;
  position: relative;
  float: right;
  margin: auto;
  position: relative;
  right: 2rem;
  width: 3.2rem;
  /* rem = resizes the image */
  height: auto;
}
/* 
.flex {
    display:flex;
    justify-content: center;

    background-color: white;
  } */

#NavBar {
  display: block;
  width: 100%;
  height: 20;
  position: fixed;
  list-style: none;
  background-color: white;
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
  top: 0;
  z-index: 1;
  transition: top 0.3s;
}

li {
  float: left;
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  /*   margin-top: 20px; */
  border: 3px solid black;
  background-color: lightskyblue;
  animation: 1s slide-left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 2px;
}

li a:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #54b3d6;
  border-radius: 2px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav h1 {
  font-size: 2.8rem;
  text-align: right;
  margin-right: 100px;
  font-family: "Brandon bld";
  color: black;
  animation: pop 0.6s linear 1;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.FirstRow {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  width: 100%;
  padding-top: 140px; 
}

.ImageArea {
  display: flex;
  height: 10%;
  margin: 10px;
}

/* Header Styles */
.card h1 {
  text-align: left; /* Align headers to the left */
  font-size: 2.5rem; /* Adjust the font size if necessary */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.card1 p {
  color: white;
  text-align: left; /* Ensure the text is aligned to the left */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.card1 {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  width: 120%;
  /* padding-bottom: 150.5px; */
  border-right: 0.9px solid black;
}

img {
  animation: fadein 3s;
  overflow: hidden;
  border-radius: 8px;
}

.tone {
  animation: fadein 3s;
}

.ttwo {
  animation: fadein 10.5s;
}

.tthree {
  overflow: hidden;
  animation-delay: 4s;
  animation: fadein 14s;
}

p {
  text-align: left;
  font-weight: 900;
  font-size: 1.438rem;
  /* 23px */
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-family: "Open Sans", sans-serif;
  color: white;
  position: relative;
  /* newly added */
  white-space: pre-line;
}

.label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.progress-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.progress-pair {
    display: flex;
    align-items: center; /* Align label and bar vertically centered */
    gap: 10px; 
}
  

.progress-container {
  flex-grow: 1;
  max-width: 240px; /* Set maximum width for bars */
  height: 25px; /* this keeps desired bar height */
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

#progress-label  {
  font-size: 1.05rem; /* Adjust font size for consistency */
  color: white;
  margin-right: 10px; /* Space between label and bar */
  white-space: nowrap; /* Prevent line break in label text */
  width: 150px; /* Increase slightly for better alignment */

}

.p-datastructure {
  display: flex;
  padding: 5px;
}

.p-async{
  display: flex;
  padding: 5px;
}

.progress-datastructure .progress-bar {
  width: 90%; /* Example skill level for Async */
}

.progress-async .progress-bar {
  width: 45%; /* Example skill level for Async */
}

.progress-multithreading .progress-bar{
  width: 15%;
}

.progress-linq .progress-bar{
  width: 25%;
}


.programming-section {
  display: flex;
  flex-grow: 1; 
  padding: 0px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(53, 52, 52);  
  align-items: flex-start;
}

.icon-secton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.ImageArea2 {
  display: flex;
  height: 100%;
  vertical-align: middle;
  flex-direction: column; 
}

.ImageArea2 img {
  margin: 10px;
}

.card1 h1,
.card2 h1,
.card3 h1,
.card4 h1 {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.0;
  animation: fadein 3.5s;
}

.card1 h1 {
  padding: 0; /* Remove any padding to avoid misalignment */
  margin: 0 0 15px 0; /* Add margin to separate the header from the content */
  text-align: left; /* Ensure the text is aligned to the left */
  font-size: 45px;
}

.SecondRow {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
  border-top: 0.9px solid black;
}

.card2 {
  display: block;
  background-color: white;
  padding: 60px;
  width: 100%;
  border-left: 0.9px solid black;
}

.card2 p {
  color: black;
  font-size: 1.5vw;
}

.Lines {
  /* font-size: 1.438rem; */
  font-size: 1.48vw;
  min-width: 0px;
  left: 20px;
  width: 2em;
  text-align: center;
  position: absolute;
  font-family: "Fira Code";
  /* "Open Sans", sans-serif; */
  color: rgb(255, 194, 81);
  box-sizing: border-box;
  letter-spacing: 0.1px;
  line-height: 1.5;
  overflow: hidden; 
}

.ThirdRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  
}

.card3 {
  display: flex;
  flex-grow: 1;
  background-color: rgb(53, 52, 52);
  padding: 60px; /* 60px */
  width: 70%;
  height:10%;
  /* padding-bottom: 100px; */
  border-right: 0.9px solid black;
  /* border-left: 0.9px solid black; */
}

.softwarecontents {
  display: block;
  margin: 10px;
}

.card {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; /* Adds padding to the left and right of the container */
  box-sizing: border-box;
  width: 100%; /* Ensure the container spans the full width of the viewport */
}

/* Change Card background colour */
.card1{
  background-color: black; 
}

.card2 {
  background-color: white;
}

.card3 p {
  color: rgb(7, 180, 7);
  white-space: normal;
  font-family: "Fira Code";
  font-size: 1.48vw;
  margin-left: 5px;
}

.card3 h1 {
  color: rgb(103, 250, 103);
  white-space: normal;
  /* rgb(88, 244, 88) */
}

.contents {
  margin: 15px;
  margin-left: 25px;
  display: block;
  /* background-color: darkblue; */
}

.FourthRow {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
  border-top: 0.9px solid black;
}

.card4 {
  display: block;
  background-color: rgb(50, 50, 182);
  width: 100%;
  border-left: 0.9px solid black;
  text-align: center;
}

.card4 p {
  color: white;
  white-space: normal;
  /* font-size: 2.95vh; */
  font-size: 1.48vw;
  font-weight: bold;
  padding-bottom: 20px;
}

.card4 h1 {
  color: white;
  white-space: normal;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

.GameContent {
  display: block;
  padding-left: 15px;
  padding-right: 75px;
  padding-bottom: 25px;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: transparent;
  animation: blink 1s infinite;
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 10px auto;
  }
  .FirstRow, .SecondRow, .ThirdRow, .FourthRow {
    flex-direction: column;
    align-items: center;
  }
}

.Footer {
  display: flex;
  width: 100%;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
}

.Footer h1 {
  text-align: right;
  margin-right: 7px;
  font-size: 4.55vh;
  font-family: "Brandon bld";
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.footercontents {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logos {
  width: 10%; 
  margin: 0; 
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;  
  margin: 0; 
}

.footercontents {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.logos {
  width: 50%;
}

.link  {
  width: 8%;
  padding: 10px;
}

.Astro {
  display: flex;
  padding: 0;
}
